@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* stylelint-disable csstree/validator */
*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  place-items: center;
  padding: 32px;
  color: #121614;
}

.modal-container {
  position: fixed;
  display: grid;
  place-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 22, 20, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-out;
}

.modal-container.active {
  opacity: 1;
  pointer-events: all;
}

.modal-container .modal {
  max-width: 700px;
  max-height: 80vh;
  overflow: auto;
  background-color: #fff;
  border: 2px solid #121614;
  padding: 32px;
  position: relative;
}

.modal-container .modal-title {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 16px;
  max-width: 85%;
}

.modal-container .modal-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 32px;
  background: none;
  border: 2px solid #121614;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 3px 5px 8px 2px rgba(18, 22, 20, 0.2);
  transition: all 250ms ease-out;
  cursor: pointer;
}

.modal-container .modal-btn:hover,
.modal-container .modal-btnfocus {
  outline: none;
  border: 3px solid #a4b1aa;
  color: #a4b1aa;
  box-shadow: none;
}

.form-container {
  max-width: 1000px;
  text-align: center;
}

.form-container h1 {
  font-size: 48px;
  text-align: center;
}

.form-container h3 {
  color: #33ca7f;
  text-align: center;
}

.form-container .message {
  margin: 20px 0 24px;
  color: white;
  padding: 24px;
  text-align: center;
}

.form-container .message.success-message {
  background-color: #33ca7f;
  box-shadow: 2px 4px 7px 2px rgba(51, 202, 127, 0.2);
}

.form-container .message.remove-message {
  background-color: #446df6;
  box-shadow: 2px 4px 7px 2px rgba(68, 109, 246, 0.2);
}

.form-container .message.alert-message {
  background-color: #e01541;
  box-shadow: 2px 4px 7px 2px rgba(224, 21, 65, 0.2);
}

form {
  display: grid;
  grid-gap: 24px;
  margin: 24px 0;
  width: 100%;
}

form label,
form input,
form textarea {
  font-family: inherit;
  font-size: inherit;
}

form [for=title],
form [for=note] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;
  background-color: rgba(164, 177, 170, 0.2);
  font-weight: bold;
}

form input,
form textarea {
  flex: 1 1 80%;
  border: 2px solid #a4b1aa;
  padding: 10px;
  color: #121614;
  outline: none;
}

form [type=submit] {
  background-color: #33ca7f;
  box-shadow: 3px 5px 8px 2px rgba(51, 202, 127, 0.2);
  font-size: 22px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

form [type=submit]:hover {
  transform: translateY(-4px);
}

.note-container {
  margin: 32px auto 16px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 24px;
}

.note-container .note {
  border: 2px solid rgba(68, 109, 246, 0.2);
  padding: 24px;
  transition: all 250ms ease-out;
}

.note-container .note-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.note-container .note-body {
  overflow: hidden;
  max-height: 128px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.note-container .note-btns {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.note-container .note-btns .note-btn {
  padding: 10px 24px;
  margin-top: 24px;
  color: white;
  cursor: pointer;
  transition: all 250ms ease-out;
}

.note-container .note-btns .note-btn:hover {
  transform: translateY(-4px);
}

.note-container .note-btns .view-note {
  background-color: #446df6;
  box-shadow: 3px 5px 8px 2px rgba(68, 109, 246, 0.2);
}

.note-container .note-btns .delete-note {
  background-color: #e01541;
  box-shadow: 3px 5px 8px 2px rgba(224, 21, 65, 0.2);
}
